/* Empty. Add your own CSS if you like */
.container {
  text-align: center;
}

.col #icon-title {
  font-size: 4vw;
  /*border: 2px solid red;*/
  margin:auto;
}

.col #icon-text {
  border: 2px solid red;
}

ion-content {
  text-align: center;
}

.list-group-item {
  padding-bottom: 10px;
}

.center {
  margin: auto;
}

.item {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

input {
  position: relative;
  margin: auto;
  text-align: center;
  border: 5px;
  width: 100%;
  font-size: 100%;
}

.button-play {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.glyphicon {
  font-size: 300%;
}

img {
  width: 50%;
  height: auto;
}

.splash-icon {
  max-width: 60%;
  height: auto;
}

body {
  background-color: #EFEDE1;
}

.btn {
  width: 30%;
  height: auto;
  border-radius: 10px;
}

#start-btn {
  display: inline-block;
  width: 40%;
  font-size: 2.5vw;
  margin: 0.8em;
  padding: 0.275em 0.775em;
  border: 2px solid #191919;
  border-radius: 10px;
  color: grey;
  line-height: 1.5;
  /*min-width: 5.575em;*/
  background-color: transparent;
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

#start-btn:hover {
  background-color: black;
  color: white;
}
