/* Empty. Add your own CSS if you like */
#container {
  /*padding-top: 10px;*/
  /*padding-right: 20%;*/
  /*padding-bottom: 50px;*/
  /*padding-left: 20%;*/
  text-align: center;
}

.second-section {
  margin-top: 90px;
}
h1 {
  font-size: 5.9vw;
}

h1 h2 h3 h4 h5 h6 {
  font-family: 'Avenir Next', sans-serif;

}

h2 {
  font-size: 400%;
}

ion-content {
  text-align: center;
}

.list-group-item {
  padding-bottom: 10px;

}

.center {
  margin: auto;
}

.item {
  padding-bottom: 10px;
  margin-bottom: 10px;
}



input {
  position: relative;
  margin: auto;
  text-align: center;
  border: 5px;
  width: 100%;
  font-size: 100%;
}

.button-play {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.glyphicon {
  font-size: 300%;
}


img {
  display: inline; 
  max-width: 100%;
  height: auto;
  min-width: 175px;
  min-height: 175px;
}

#splash-image {
  width: 100%;
  height: auto;
}

body {
  background-color: #EFEDE1;
}

/*.album-image{*/
 /*box-sizing: border-box;*/

 /*transition: background-color 0.1s, color 0.1s;*/

/*transition-timing-function: none;*/

 /*font-size: 18pt;*/

 /*color: #29ADFF;*/

 /*background-color: #F6FBFF;*/

 /*text-align: center;*/

 /*border: 1px solid white;*/

 /*height: 100px;*/

 /*line-height: 100px;*/

 /*cursor: pointer;*/

 /*float: left;*/

 /*width: 100%;*/

/*}*/


.music-buttons {
  padding-bottom: 20px;
}

.btn {
  display: inline-block;
  margin: 0.8em;
  padding: 0.275em 0.775em;
  border: 2px solid #191919;
  color: #191919;
  line-height: 1.5;
  min-width: 5.575em;
  background-color: transparent;
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

.btn:hover {
  background-color: black;
  color: white;
}
