<div id="albums" ng-controller="AlbumController as controller">
  <div class="container" id="container">
    <h2><b>search for an album</b></h2>
    <section class="search center"> 
      <form ng-submit="controller.loadAlbums(searchterms)"> 
        <input type="text" ng-model="searchterms" id="album-search-box"
        placeholder="album name"> 
        <button id="album-search-btn" class="btn btn-search"type="submit" value="album-search-term">search</button> 
      </form> 
    </section> 
    <!--<article class="second-section">-->

      <!--<h2><b>or choose from most popular</b></h2>-->
    <!--</article>-->
    
    <span id="{{ $index }}"ng-repeat="album in controller.albums" class="col-md-2 col-s-6 col-xs-6 album-img" ng-click="controller.loadSongToGuess(album)"> 
      <img src="{{ album.imgUrl }}"> <!-- <h2> {{ album.title }} </h2> --> 
    </span> 
    <div id="further explanation"> 
    </div> 
  </div>
