<ion-content text-align="center">
    <div id="container">
  <div id="answer" ng-controller="AnswerController as controller">
    <div id="correct-or-incorrect">
      <h2 style="text-align: center; margin-top: 40px; color: green;"><span ng-if="controller.isCorrectGuess()"><p>Correct!</p></h2>
      <h2 ng-if="!controller.isCorrectGuess()" style="text-align: center; color: red;">Incorrect!</h2>
    </div>
    <h4 style="text-align: center; margin-top: 25px;" ng-if="controller.isCorrectGuess()">You got it in {{ controller.guessDuration() }}!</h4></span>

    <h1 ng-if="controller.isCorrectGuess()" style="text-align: center; margin-top: 25px;" style="font-size: 200%;">+ {{ controller.guessScore() }} points! </h1>


    <ion-item class="item item-thumbnail-left">
        <img width="100" src="{{ controller.artistImages[0].url }}">
        <h3>{{ controller.currentSong().title }}</h3>
        <h4>{{ controller.currentSong().artist }}</h4>
      </ion-item>
    <h3 style="text-align: center; margin-top: 25px;">Total score: <div id ="score"> {{ controller.totalScore() }} </div></h3>
    <button id="play-another" class="button"  ng-if="!controller.isGameEnd()" ng-click="controller.nextTurn()">Next song</button>
    <button id="new-album" class="button"  ng-click="controller.changeToAlbumsState()">New album</button>
  </div>
</div>
</ion-content>
