<ion-content id="songs" ng-controller="SongController as controller">
  <div id="container" class="container">
    <div class="play-buttons" style="text-align: center;">
      <button class="button-play" id="play-button-1"
        ng-click="controller.playCurrentSong"><span class="glyphicon
        glyphicon-play-circle"></span><br><h5>  1 second</h5></button>
      <button class="button-play" id="play-button-3"
        ng-click="controller.playCurrentSong(3)"><i class="glyphicon
        glyphicon-play-circle"></i><br><h5>
        3 seconds</h5></button>
      <button class="button-play" id="play-button-5"
                                  ng-click="controller.playCurrentSong(5)"><i class="glyphicon
                                  glyphicon-play-circle"></i><br><h5>  5
                                  seconds</h5></button>
    </div>
    <div class = "col-md-6 col-md-offset-3">
    <ul class = "list-group list-group-flush" >
      <li class="list-group-item" ng-repeat="song in controller.remainingSongs()" class="item" ng-click="controller.guessSong(song)">
        <p>{{ song.title }}</p>
      </li>
    </ul>
    </div>
  </div>
</ion-content>
